.fabOrange {
    background-color: #f9b233;
}

.fabBlue {
    background-color: #009dc5;
}

.fabPurple {
    background-color: #951b81;
}

.fabGray {
    background-color: #4D4D4D;
}

.fabBlueSecondary {
    background-color: #86cedf;
}

.fabPurpleSecondary {
    background-color: #c693c2;
}